.our_barbers {
    .card_holder {
        &:hover {
            .card_frame {
                background-color: $cardHoverBackground;
            }

            .name {
                color: $mainColor;
            }

            img {
                transform: scale(1.2, 1.2);
            }
        }
    }
}
