.group_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $mainColor;

    .group_badge {
        background-color: $mainColor;
        border-radius: 2rem;
        color: $colorWhite;
        display: inline-block;
        font-size: 0.8rem;
        padding: 0.1rem 0.5rem;
        text-align: center;
    }
}
