.filter_search {
    .search_input {
        height: 62px;
        padding-left: 30px;
        padding-right: 62px;
        box-shadow: 0 1px 2px #00000014, 0 4px 12px #0000000d;
        border-radius: 80px;
        border: 0;
        background-color: $backgroundColor;
        color: $colorWhite;
    }

    .search_button {
        position: absolute;
        top: 6px;
        right: 6px;
    }
}
