#intro {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem 0;
    min-height: 100vh;

    .section_backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        background-color: rgba($color: $backgroundColor, $alpha: 0.4);

        .section_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: inherit;
            height: inherit;

            .text_part {
                text-align: center;
                h3 {
                    font-size: 4rem;
                    font-family: $dmSans-bold;
                    color: $colorWhite;

                    @media screen and (max-width: 575px) {
                        font-size: 2.2rem;
                    }
                    @media (min-width: 576px) and (max-width: 767px) {
                        font-size: 2.5rem;
                    }
                    @media (min-width: 768px) and (max-width: 991px) {
                        font-size: 3rem;
                    }
                }
            }

            .search_part {
                margin-top: 4rem;
                background-color: $colorWhite;
                border-radius: 4px;
                padding: 1rem 1.5rem;

                .service_selection {
                    color: $backgroundColor;
                }

                input {
                    padding: 5px 10px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid $inputBorderColor;
                    color: $backgroundColor;
                    border-radius: 4px;
                }
            }
        }
    }
}