$mainColor: #e4911a;
$backgroundColor: #232323;
$lightBackgroundColor: #282828;
$borderColor: #606060;
$colorWhite: #ffffff;
$inputBorderColor: #cccccc;
$cardBackground: #303030;
$cardHoverBackground: #3e3e3e;
$linkColor: #5e9fff;
