$dmSans-regular: "DM Sans Regular";
$dmSans-italic: "DM Sans Italic";
$dmSans-medium: "DM Sans Medium";
$dmSans-medium-italic: "DM Sans Medium Italic";
$dmSans-bold: "DM Sans Bold";
$dmSans-bold-italic: "DM Sans Bold Italic";
