.main_header {
    z-index: 999;
    background-color: $backgroundColor;

    @media (min-width: 768px) and (max-width: 991px) {
        padding: 12px 0;
    }

    .mini_navbar {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        background-color: $cardBackground;
        height: 100vh;
        overflow-x: hidden;

        @media screen and (max-width: 767px) {
            display: block;
        }

        &.active {
            -webkit-box-shadow: 5px 5px 15px 5px $backgroundColor;
            box-shadow: 5px 5px 15px 5px $backgroundColor;
            width: 40%;
        }

        .link {
            display: block;
            padding: 20px;
            color: $colorWhite;

            &:hover,
            &:focus,
            &.active {
                background-color: $mainColor;
            }
        }
    }
}
